@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}
.tox-statusbar__branding{
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea { resize: none; }

progress {
  border-radius: 7px; 
  width: 100%;
  height: 15px;
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}

progress::-webkit-progress-bar {
  background-color: gray;
  border-radius: 7px;
}

progress::-webkit-progress-value {
  background-color: #710F49;
  border-radius: 7px;
}

.img-zoom-lens {
  position: absolute;
  /*set the size of the lens:*/
  width: 100px;
  height: 100px;
  z-index: 9999;
}

.scroll-hide {
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hyperlink p a {
  color: revert;
  text-decoration: underline;
}